{% extends 'base.html.twig' %}

{% block title %}Modification du dossier{% endblock %}

{% block body %}
<div class="container-fluid">
    {{form_start(form)}}
    <div class="container-fluid">
        <h1 class="title">Modifier le Dossier</h1>
        {{ include('dossier_suspension/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        <div class="alignbtn">
            <button class="btn btn-default btn-lg">{{ button_label|default('Sauvegarder') }}</button>
            <button class="btn btn-default btn-lg"><a href="{{ path('liste') }}">Rétour à la liste</a><button>
            {{ include('dossier_suspension/_delete_form.html.twig') }}
        </div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}
